= form_for @topic, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :student_id, :class => 'control-label'
    .controls
      = f.text_field :student_id, :class => 'text_field'
  .control-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_field :description, :class => 'text_field'
  .control-group
    = f.label :proposed_date, :class => 'control-label'
    .controls
      = f.text_field :proposed_date, :class => 'text_field'
  .control-group
    = f.label :completed_date, :class => 'control-label'
    .controls
      = f.text_field :completed_date, :class => 'text_field'
  .control-group
    = f.label :approved, :class => 'control-label'
    .controls
      = f.text_field :approved, :class => 'text_field'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), topics_path, :class => 'btn'
