- model_class = Topic
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      - @headings.each do |h|
        %th= model_class.human_attribute_name(h)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - ["Approved Topics", "Pending Topics", "Completed Topics"].each do |list|
      %tr
        %th{colspan: @headings.size+1}= list
      = render "topic_list", topics: eval("@#{list.downcase.gsub(' ', '_')}")

= link_to t('.new', :default => t("helpers.links.new")), new_topic_path, :class => 'btn btn-primary'
