<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @topic.student_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<p>
  <strong>Proposed date:</strong>
  <%= @topic.proposed_date %>
</p>

<p>
  <strong>Completed date:</strong>
  <%= @topic.completed_date %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @topic.approved %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
